remote-helper

Acee (as a YANG doctor) commented that:

    5. Page 29, "remote-helper": I'd support this to be renamed
       "graceful-restart-only" since "helper-only" is relative to the local
         peer.

To which I responded:
 
The enumeration definitions talk about the mode in terms of local and remote. Calling it ‘graceful-restart-only’ conveys a completely different meaning.

Acee came back with:

I think this is a poor choice since it should be terms of the device – not the remote device. Perhaps, using your line of thought, even “local-graceful-restart” would be much better.

Jeff chimed in to say:

There's actually a few issues here:
- The restarting mode is per AFI-SAFI, while this container doesn't contain
 anything that contains per AFI-SAFI state.
- The local peer can know whether it's acting as a helper and whether it can
 retain forwarding for a given AFI/SAFI.
- We can know if the remote BGP speaker has advertised GR for a given
 AFI/SAFI, which tells us whether it supports GR and can help the local
 speaker with restarting.
- We can know if, on the last restart, forwarding was preserved for that
 AFI/SAFI.

Proposal: Replace leaf "mode" with:
list afi-safi-supported {
 key "afi-safi-name"
 leaf afi-safi-name {
   type identityref { base bt:afi-safi-type; }
 }
 leaf local-supported {
   type boolean;
 }
 leaf remote-supported {
   config false;
   type boolean;
 } 
 leaf remote-forweard-preserved {
   type boolean;
   config false;
 }
}

Acee said:

You need some good descriptions for the booleans as the names aren't enough. I'd replace "remote-forward-preserved" with "remote-forwarding-preserved" as in Forwarding Information Base (FIB).  Note that you no longer have the granularity between support of local restart and local helper (based on only one config true leaf).  Also, it seems that granularity is now wrong - you need the config false values on a per-peer basis so I don't think you can mix the local-configuration with the remote peer state in the same grouping. 

FWIW here is the OSPF config true container.

container graceful-restart {
     if-feature graceful-restart;
     description
       "Graceful restart config state.";
     reference "RFC 3623: OSPF Graceful Restart                                                                                                                         
                RFC 5187: OSPFv3 Graceful Restart";                                                                                                                         
     leaf enable {
       type boolean;
       description
         "Enable/Disable graceful restart as defined in RFC 3623                                                                                                    
          for OSPFv2 and RFC 5187 for OSPFv3.";                                                                                                                          
     }
     leaf helper-enable {
       type boolean;
       description
         "Enable graceful restart helper support for restarting                                                                                                           
          routers (RFC 3623 Section 3).";                                                                                                                                          
     }
     leaf restart-interval {
       type uint16 {
          range "1..1800";
       }
       units seconds;
       default "120";
       description
         "Interval to attempt graceful restart prior                                                                                                                              
          to failing (RFC 3623 Section B.1) (seconds)";                                                                                                                     
     }
     leaf helper-strict-lsa-checking {
       type boolean;
       description
         "Terminate graceful restart when an LSA topology change                                                                                                  
          is detected (RFC 3623 Section B.2).";                                                                                                                                 
     }
   }

To Jeff's suggestion I asked:

I am fine with making the change. However, are the three leafs, local-supported, remote-supported, remote-forward-preserved mutually exclusive per AFI/SAFI, or can the local BGP speaker be configured for any two, or all three possibilities? In other words, should the “support” leafs be a choice statement?

Keyur commented:

This makes sense.

What is the consensus?

Just a quick note that this issue is still open and will need work.

Agree this still needs work on naming and the possibility each of the options does not exist in a particular implementation.  See implementation links below for ease of reference
Keyur can add arrcus references. 

My reading of the current state is that the support links should be a choice statement. 
However, we should chat between authros to make sure my reading of the configuration are ok. 




1) cisco NSF 
https://www.cisco.com/c/en/us/td/docs/ios-xml/ios/iproute_bgp/configuration/xe-16/irg-xe-16-book/bgp-nonstop-forwarding-awareness.html
bgp graceful-restart [restart-time seconds ] [stalepath-time seconds ]
 
2) Juniper: 
https://www.juniper.net/documentation/us/en/software/junos/bgp/topics/ref/statement/graceful-restart-edit-protocols-bgp.html

graceful-restart {
    disable;
    restart-time seconds;
    stale-routes-time seconds;
}

Huawei: 
https://support.huawei.com/enterprise/en/doc/EDOC1100055018/fd9ac58c/configuring-the-bgp-gr-helper
Run graceful-restart timer restart time
Setting information per IP family [ipv4-family flow] ... [ipv6-family flow] ... etc

Open daylight
https://docs.opendaylight.org/projects/bgpcep/en/latest/bgp/bgp-user-guide-graceful-restart-capability.html

<graceful-restart xmlns="urn:opendaylight:params:xml:ns:yang:bgp:openconfig-extensions">
    <config>
        <restart-time>60</restart-time>
    </config>
</graceful-restart>

Preserving specific family during Graceful Restart must be enabled in graceful-restart section of family configuration for neighbor or peer-group.
graceful-restart xmlns="urn:opendaylight:params:xml:ns:yang:bgp:openconfig-extensions">
   <config>
      <enable>true</enable>
   </config>
</graceful-restart>

#5 free range routing
bgp graceful-restart preserve-fw-state
