Review and address errors reported by idnits3

❌ Review the 1 error, 26 warnings, 5 comments listed below.

███████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 ERROR  1 nit of ⛔ error severity
███████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 1  OBSOLETE_INFORMATIVE_REFERENCE
 └- Desc - The informative reference RFC 2385 is obsolete and has been replaced by: RFC5925.
 └- Ref  - https://www.rfc-editor.org/info/rfcundefined

[Mahesh] This is not a error. While MD5 has indeed by replaced by TCP-AO, there are deployments that use MD5, and the draft supports it.

█████████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 WARNING  26 nits of ⚠️ warning severity
█████████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 2  INVALID_DOMAIN_TLD
 └- Desc - Domain "gmail.com" is not an allowed reserved domain. Consider using ".example.(com|org|net)" instead.
 └- Text - gmail.com
 └- Ref  - https://www.rfc-editor.org/rfc/rfc6761

 3  INVALID_DOMAIN_TLD
 └- Desc - Domain "arrcus.com" is not an allowed reserved domain. Consider using ".example.(com|org|net)" instead.
 └- Text - arrcus.com
 └- Ref  - https://www.rfc-editor.org/rfc/rfc6761

 4  INVALID_DOMAIN_TLD
 └- Desc - Domain "ndzh.com" is not an allowed reserved domain. Consider using ".example.(com|org|net)" instead.
 └- Text - ndzh.com
 └- Ref  - https://www.rfc-editor.org/rfc/rfc6761

 5  INVALID_DOMAIN_TLD
 └- Desc - Domain "hpe.com" is not an allowed reserved domain. Consider using ".example.(com|org|net)" instead.
 └- Text - hpe.com
 └- Ref  - https://www.rfc-editor.org/rfc/rfc6761

[Mahesh] This is a bug in idnits3.

 6  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [remote-address] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 7  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [name] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 8  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [afi-safi-name] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 9  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [neighbor-address] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 10  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [BGP-4] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 11  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [BGP-MP] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 12  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [9] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 13  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [0-9] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 14  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [0-9A-Fa-f] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 15  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [0-9A-F] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 16  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [prefix] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 17  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [index] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 18  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [attr-type] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 19  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [...] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 20  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [64496-64511] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

 21  REFERENCE_MISSING_IN_REFERENCE_SECTION
 └- Desc - Document has [64505-64511] but does not occur in any reference section.
 └- Ref  - https://authors.ietf.org/en/required-content#references

[Mahesh] Similarly, these are bugs in idnits3.

 22  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 118 Col 0

 23  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 125 Col 0

 24  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 126 Col 0

 25  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 127 Col 0

 26  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 128 Col 0

 27  SECTION_TITLE_HAS_UNEXPECTED_INDENTATION
 └- Desc - Document has unexpected indentation in Appendix.
 └- Ref  - https://authors.ietf.org/en/drafting-in-plaintext#checklist
 └- Line - Ln 129 Col 0

█████████▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀▀
 COMMENT  5 nits of ℹ️ comment severity
█████████▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

 28  NON_ASCII_UTF8
 └- Desc - Review RFC7997 to ensure your document respects UTF-8 rules for non-ASCII.
 └- Ref  - https://datatracker.ietf.org/doc/html/rfc7997#section-3

 29  INCORRECT_TERM_SPELLING
 └- Desc - "ipsec" should be spelled as IPsec.
 └- Ref  - https://www.rfc-editor.org/materials/terms-online.txt
 └- Line - Ln 3275 Col 18

 30  INCORRECT_TERM_SPELLING
 └- Desc - "ipsec" should be spelled as IPsec.
 └- Ref  - https://www.rfc-editor.org/materials/terms-online.txt
 └- Line - Ln 11231 Col 33

 31  INCORRECT_TERM_SPELLING
 └- Desc - "ipsec" should be spelled as IPsec.
 └- Ref  - https://www.rfc-editor.org/materials/terms-online.txt
 └- Line - Ln 11672 Col 33

[Mahesh] It is a YANG leaf name, and YANG does not support camelcase.

 32  DOCUMENT_USE_STRING_REFERENCES
 └- Desc - The document text uses string references, but contains [9]
 └- Ref  - https://authors.ietf.org/en/required-content#references

----------------------------------------------------------------

Have evaluated all the errors and concluded most of them do not apply. For those with indentation issues, I will let the RFC Editor address them.