attr-set's index should be uint8

BGP Path attributes are one byte (RFC 4271, section 4.30

Leaf index below should be uint8.

  grouping attr-set {
    description
      "A grouping for all path attributes.";

    list attr-set {
      key "index";
      description
        "List of path attributes that may be in use by multiple
         routes in the table";
      leaf index {
        type uint64;

This value for index is for route object indexing, not the actual path attribute code.

Closing as invalid.