MRAI/MAOI values

The MRAI/MAOI timers are specified in RFC 4271.  It's thus reasonable to want them in here.

Many BGP implementations do not actually implement these timers.  As an example, variants derived from GateD simply have an "outdelay".

Possible ways to deal with these conflicts:
- Do no have a default for MAOI so as to not create a node.
- Implementations with outdelay simply publish a variance via augmentation and deviation on these nodes?

Is there another option?

    leaf min-as-origination-interval {
      type uint16 {
        range "0..max";
      }
      units "seconds";
      default "15";
      description
        "Time interval (in seconds) for the MinASOriginationInterval
         timer. The suggested value for this timer is 15 seconds.";
      reference
        "RFC 4271, Section 9.2.1.2.
         RFC 4271, Section 10.";
    }
    leaf min-route-advertisement-interval {
      type uint16 {
        range "0..max";
      }
      units "seconds";
      description
        "Time interval (in seconds) for the
         MinRouteAdvertisementInterval timer.
         The suggested value for this timer is 30
         seconds for EBGP connections and 5
         seconds for IBGP connections.";
      reference
        "RFC 4271, Section 9.2.1.1.
         RFC 4271, Section 10.";


Openconfig solely allows  minimum-advertisement-interval.  


There are no other options. If we remove the default, it makes the node non-mandatory. If we do not, implementations have to deviate it if they do not want to implement them.

I'm for keeping MRAI/MAOI in the model.  

If we think that MRAI should not be mentioned in RFC4771 and we note a change to RFC4771 based on input so that we can deal with this in a RFC4771 update. 

Per discussion on call June 22, we believe the answer is to leave both nodes in the yang file, leave them as config true, but remove the defaults.