Should community-type bit positions be fully enumerated?

Consider the community-type typedef below.

The rules for "position" in RFC 7950 basically say that each subsequent bit gets the +1 assignment.

However, consider extensions that may come in the future.  Given such extensions will likely result in some implementations with new community-like feature that may cross as ships in the night, there's no guarantee that new-community-feature1 will be directly comparable to new-community-feature2.  This may result in config generated against schemas of potentially different versions to generate the wrong bit value.

If my interpretation is correct, I suspect this means two things:
1. We should fully enumerate bit positions in our current file.
2. We should recommend that such positions are IANA coordinated in a registry.  Is there a procedure for that?



  typedef community-type {                                                                                       
    type bits {
      bit standard {                                                                                             
        position 0;                                                                                              
        description
          "Send standard communities.";                                                                          
        reference
          "RFC 1997: BGP Communities Attribute.";                                                                
      }
      bit extended {                                                                                             
        description
          "Send extended communities.";                                                                          
        reference
          "RFC 4360: BGP Extended Communities Attribute.";                                                       
      }
      bit large {
        description
          "Send large communities.";                                                                             
        reference
          "RFC 8092: BGP Large Communities Attribute.";                                                          
      }                                                                                                          
    }
    description
      "Type describing variations of community attributes.
       The community types can be combined and a value of 0                                                      
       implies 'none'";                                                                                          
  }


If I understand the problem correctly, would we not have the same issue with enumerations? Enumerations, much like bit positions take up a value space. As new extensions are added, the value space might collide.

In YANG, if we know that a given type could be extended in the future, we have used identities instead of enumerations. That has the flexibility (and the undesired outcome) that they can be defined in new models without maintaining a central repository.

Right now, this bit set is used only for the send-community feature.  The intent of that feature is to identify a set of things that are allowed to be propagated as communities in implementations that have send-communities as a feature.

New community-like things don't get created often, but they will happen.  So, we need a clear extension mechanism.

I'm not sure how identities could be used to implement such a behavior.

An alternative method of modeling this would be individual boolean features.  That's effectively what the bits are doing for us in a more condensed fashion.

I'm open to suggestions that accomplish the goals.

What I had in mind with identities was define a leaf-list called send-community-feature. So you would have:

```
identity send-community-feature {
  description
    "Base identity to identify send-community feature.";
}

identity standard {
  base send-community-feature;
}

identity extended {
  base send-community-feature;
}

identity large {
  base send-community-feature;
}

and in the model have the following:

leaf-list send-community-feature {
  type send-community-feature;
}
```

This may not be the most compressed format, but it gives you the flexibility to extend the community types as new ones are developed.

The alternative is to do what you are suggesting with IANA, and would be much like other bits that are maintained by them, although we should allow for some reserved and experimental bits.

Okay, I understand the intent now and think that's a fine way to approach this.  I'll prepare a patch tomorrow.