leaf best-path should have a default value

As raised by Reshad on IDR mailing list, the best-path leaf needs to be mandatory, or have a default.
This is motivated by RFC 7950, section 7.6.1:

>    If a leaf has a "default" statement, the leaf's default value is the
>    value of the "default" statement.  Otherwise, if the leaf's type has
>    a default value and the leaf is not mandatory, then the leaf's
>    default value is the type's default value.  In all other cases, the
>    leaf does not have a default value.
> 